logging:
    level:
        org.hibernate.SQL: debug
        org.hibernate.orm.jdbc.bind: trace
spring:
    config:
        activate:
            on-profile: dev
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                highlight_sql: true
                use_sql_comments: true
    security:
        oauth2:
            client:
                registration:
                    google:
                        redirect-uri: http://localhost:8080/login/oauth2/code/google
                    naver:
                        redirect-uri: http://localhost:8080/login/oauth2/code/naver
