server:
    port: ${PORT:8080}
    forward-headers-strategy: framework
spring:
    profiles:
        default: prod
    application:
        name: maru-backend
    datasource:
        driver-class-name: org.postgresql.Driver
        url: ${DATABASE_URL}
        username: ${DATABASE_USERNAME}
        password: ${DATABASE_PASSWORD}
    flyway:
        enabled: true
    jpa:
        hibernate:
            ddl-auto: validate
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
    security:
        oauth2:
            client:
                registration:
                    google:
                        client-id: ${GOOGLE_CLIENT_ID}
                        client-secret: ${GOOGLE_SECRET}
                        scope:
                            - profile
                            - email
                        redirect-uri: https://${API_DOMAIN}/login/oauth2/code/google
                    naver:
                        client-id: ${NAVER_CLIENT_ID}
                        client-secret: ${NAVER_SECRET}
                        scope:
                            - email
                        client-name: Naver
                        authorization-grant-type: authorization_code
                        redirect-uri: https://${API_DOMAIN}/login/oauth2/code/naver
                provider:
                    naver:
                        authorization-uri: https://nid.naver.com/oauth2.0/authorize
                        token-uri: https://nid.naver.com/oauth2.0/token
                        user-info-uri: https://openapi.naver.com/v1/nid/me
                        user-name-attribute: response
    batch:
        jdbc:
            initialize-schema: never
oauth:
    redirect-url: ${OAUTH_REDIRECT_URL}
    success-url: ${OAUTH_SUCCESS_URL}
jwt:
    access-token:
        secret: ${ACCESS_TOKEN_SECRET}
        expiration: ${ACCESS_TOKEN_EXPIRATION}
    register-token:
        secret: ${REGISTER_TOKEN_SECRET}
        expiration: ${REGISTER_TOKEN_EXPIRATION}
diary:
    secret: ${DIARY_SECRET}
cors:
    origins: ${CORS_ORIGINS}
minio:
    endpoint: ${MINIO_ENDPOINT}
    access-key: ${MINIO_ACCESS_KEY}
    secret-key: ${MINIO_SECRET_KEY}
    bucket-name: ${MINIO_BUCKET_NAME}
    presigned-url-expiration: ${MINIO_PRESIGNED_URL_EXPIRATION}
domain: ${DOMAIN}
